# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Artifacts (modelos entrenados)
artifacts/


notebooks/best_model.pkl
# MLflow
mlruns/
mlartifacts/
mlflow.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Env files
.env
*.env
